body {
    font-family: Arial, Helvetica, sans-serif;
    text-justify: justify;
    color:darkslategray;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

.full-width {
    display: flex;
    width: 100%;
    align-items: end;
}

.card {
    margin: 0.5rem;
}

.card > img {
    border-radius: 0.5rem;
}

.card-a {
    padding-bottom: 2rem;
}

.card-b {
    padding-top: 2rem;
}

.card-c {
    width: 40%;
    padding: 1rem;
}