.grid {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(3, 100px);
}

.block {
    border-radius: 0.5rem;
    margin: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-a {
    background-color: greenyellow;

    grid-column-start: 1;
    grid-row-start: 1;

    grid-column-end: span 2;
    grid-row-end: span 2;
}

.block-b {
    background-color: palevioletred;

    grid-column-start: 1;
    grid-row-start: 3;

    grid-column-end: span 2;
}

.block-c {
    background-color: cyan;
    
    grid-column-start: 3;
    grid-row-start: 1;

    grid-column-end: span 3;
}

.block-d {
    background-color: orange;

    grid-column-start: 3;
    grid-row-start: 2; 

    grid-column-end: span 2;
    grid-row-end: span 2;
}

.block-e {
    background-color: teal;
}

.block-f {
    background-color: maroon;
    color: white;
}